<h1>Courses</h1>
<table id="coursesTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach(course => { %>
            <tr>
                <td><%= course.id %></td>
                <td><%= course.name %></td>
                <td><%= course.code %></td>
                <td><%= course.description %></td>
                <td style="text-align: center;">
                    <form action="/api/courses/<%= course.code %>?_method=DELETE" method="post" style="display:inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
