<h1>Courses</h1>
<table id="coursesTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Staff</th>
            <th>Enrolled Students</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach(course => { %>
            <tr>
                <td><%= course.id %></td>
                <td><%= course.name %></td>
                <td><%= course.code %></td>
                <td><%= course.description %></td>
                <td>
                    <% if (course.staff) { %>
                        <%= course.staff.name %> (<%= course.staff.code %>)
                    <% } else { %>
                        <span>No staff assigned</span>
                    <% } %>
                </td>
                <td>
                    <% if (course.enrolledStudents && course.enrolledStudents.length > 0) { %>
                        <ul>
                            <% course.enrolledStudents.forEach(student => { %>
                                <li><%= student.name %> (<%= student.code %>)</li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <span>No students enrolled</span>
                    <% } %>
                </td>
                <td style="text-align: center;">
                    <form action="/api/courses/<%= course.code %>?_method=DELETE" method="post" style="display:inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
