<h1>Students</h1>
<table id="studentsTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Enrolled Courses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.code %></td>
                <td>
                    <ul>
                        <% student.enrolledCourses.forEach(course => { %>
                            <li style="display: flex; justify-content: space-between; align-items: center;">
                                <span><%= course.name %> (<%= course.code %>)</span>
                                <form action="/api/students/<%= student.code %>/unenroll?_method=DELETE" method="post" style="display:inline;">
                                    <input type="hidden" name="course_code" value="<%= course.code %>">
                                    <button type="submit" class="unenroll-button">Unenroll</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                </td>
                <td style="text-align: center;">
                    <form action="/api/students/<%= student.code %>?_method=DELETE" method="post" style="display:inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                    <br>
                    <form action="/api/students/<%= student.code %>/enroll" method="post" class="inline-form">
                        <label for="course_code" style="text-align: left;">Enroll in Course:</label>
                        <input type="text" id="course_code" name="course_code" placeholder="Course Code">
                        <button type="submit">Enroll</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
